@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&family=Jost&family=Roboto:wght@500&display=swap');

body{
    font-family: 'Cormorant Garamond', serif !important;
}
.breadcrumb > *{
    font-family: 'Jost', sans-serif !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.breadcrumb .breadcrumb-item a:hover{
    color: #edac63 !important;
}
h1{
    font-family: 'Cinzel', serif !important;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    color: #111111;
}
.details-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 29px;
    line-height: 29px;
    color: #6ec1e4;
}
.left-form-wrapper label{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #777777;
}
.input-field{
    background-color: #F9F9F9;
    border: none;
    outline: none;
    height: 2.5rem;
    color: #000000;
    font-family: 'Jost', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 1rem;
    width: 100% !important;
}
.input-field:focus{
    background-color: #E8F0FE !important;
    color: #000000;
    font-family: 'Jost', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 1rem;
}
.textarea{
    background-color: #F9F9F9;
    border: none;
    outline: none;
    color: #000000;
    font-family: 'Jost', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 1rem;
    width: 100% !important;
}
.textarea:focus{
    background-color: #E8F0FE !important;
    color: #000000;
    font-family: 'Jost', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 1rem;
}
.left-form-wrapper .bi{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #777777;
    padding-right: .4rem;
    color: #edac63;
}
.form-btn{
    background-color: #000000cf;
    font-family: 'Jost', sans-serif !important;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: .5rem;
    transition: .5s all ease-in-out;
}
.form-btn:hover{
    background-color: #edac63 !important;
}
@media screen and (min-width: 1200px){
    .input-field{
        width: 50% !important;
    }
    .textarea{
        width: 75% !important;
    }
}
